

<div id="menu-bar" class="fas fa-bars"></div>

<a href="#" class="logo">نایک</a>

<nav class="navbar">
	<a href="#home">خانه</a>
	<a href="#products">محصولات</a>
	<a href="#featured">ویژه</a>
	<a href="#review">نظرات</a>
</nav>

<div class="icons">
	<a href="#" class="fas fa-heart"></a>
	<a href="#" class="fas fa-shopping-cart"></a>
	<a href="#" class="fas fa-user"></a>
</div>
